body {
    /*Propiedades abreviadas
    background-color: yellow;

   
    background: url("../img/Degradat.png");
    background-size: 100%;
    background-repeat: no-repeat;

   
    background-image: url("../img/css.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: auto;
    */

    background: url(../img/css.png) no-repeat top right fixed url(../img/Degradat.png) no-repeat top/cover fixed;
}



.h21 {
    color: lightblue;
    border: solid;
}

.h22 {
    color: lightblue;
    border: double;
    border-bottom: dotted 8px orange;

}

.p1 {
    color: rgb(255, 0, 255);
    border-top: dotted 10px red;
    border-right: solid 10px red;
    border-bottom: dotted 10px red;
    border-left: solid 10px red;
    border-radius: 100px;
    padding: 30px;
}


.p2 {
    border-top: dotted blue 5px;
    border-right: dashed red 5px;
    border-bottom: solid 5px green;
    border-left: dashed red 5px;
}

.p3 {
    color:#FFC0CB;
    border-top: solid 10px;
    border-right: solid 5px;
    border-bottom: solid 10px;
    border-left: solid 5px;
}
