@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Ubuntu+Mono&display=swap');

body {
    background: url(../img/videojuegos_clasicosmatrix.png) repeat-y, url(../img/videojuegos_clasicosmatrix2.png) repeat-y right black;
}

p {
    font-family: 'PT Mono', monospace;
    text-align: justify;
    color: white;
}

.vj {
    margin-right: 637px;
    margin-left: 637px;
    color: #04c204;
    line-height: 1px;
    
}
/*PING PONG*/
h1 {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: #04c204;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Ubuntu Mono', monospace;
    size: 20px;
    margin-left: 20px;
    size: 5px;
}

/*Diametro del recuadro del texto*/
.pingpong {
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 20px;
    
}
    /* Cuadro verde del titulo del texto*/
    .fspong{
        background-color: #04c204;
        font-family: 'Noto Sans', sans-serif;
        border: white solid 3px;
            line-height: 1px;
        }
    /*Edicion para el encabezado del texto, del propio titulo*/
        .title1 {
            color: white;
            letter-spacing: 10px;
        }

.text {
    border: white solid 3px;
    padding: 10px;
}
    .pong {
        color: #ffff00;
    }
        .nolan {
            color: red;
        }

        .nov {
            color: #03a403;
        }
        .imgin {
            width: 300px;
            height: 225px;
            border: white solid 5px;
            outline: #04c204 solid 5px;
            margin-left: 20px;
        }

.spaceinvaders {
    margin-right: 200px;
    margin-left: 520px;

}
    .imgsi {
        border: white solid 5px;
        outline: #04c204 solid 5px;
        margin-top: 6px;
        margin-right: 20px;
        margin-left: 205px;
        float: left;
        width: 280px;
        height: 355px;
    }
    .title2 {
        color: white;
        letter-spacing: 10px;
    }
    .invaders {
        background-color: #04c204;
        font-family: 'Noto Sans', sans-serif;
        border: white solid 3px;
        line-height: 1px;
    }
    .textsi {
        border: white solid 3px;
        padding: 10px;
    }

.pacman {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
    .pcmn {
        background-color: #04c204;
        font-family: 'Noto Sans', sans-serif;
        border: white solid 3px;
    }
    .title3 {
        color: white;
        letter-spacing: 10px;
    }
    .pcmantxt {
        border: white solid 3px;
        padding: 10px;
    }
.imgpcma {
    width: 250px;
    height: 300px;
    border: white solid 5px;
    outline: #04c204 solid 5px;
    margin-left: 20px;
}

hr {
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 20px;
    color: #04c204;
}

.txtfinal {
    font-family: 'PT Mono', monospace;
    text-align: justify;
    color: white;
    line-height: 1px;
    margin-left: 200px;
}
