@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital@1&display=swap');

body {
    background-color: #8cae3e;
}

.titulo {
    text-align: center;
    color: white;
    text-shadow: 3px 5px black;
}

.sw {
    border-style: dotted;
    border-width: 2px;
    border-color: white;
    margin-top: 3em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3em;
    padding: 10px;
}

.starwars{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: dotted red thick 30px;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 25px;
    padding: 20px;
}

.padrino {
    border-width: 10px;
    border-radius: 8px 0px 0px 8px;
    border: white solid 10px;
    margin-right: 50%;
    background-color: #fae268;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-align: justify;
    color: #5c5c5c;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    width: 750px;
    font-size: 30px;

}

.et {
    margin-top: 30px;
    margin-left: 50%;
    border: dashed 9px black;
    border-radius: 0px 8px 8px 0px;
    background-color: white;
    text-align: right;
    font-size: 30px;
    margin-right: 40px;
}

.viento {
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border: dashed 3px gray;
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.casablanca {
    margin-top: 3em;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
    background-color: pink;
}

.cs {    
    border-color: pink;
    border: dotted;
    font-size: 30px;
    margin-left: 5px;
    padding-bottom: 20px;    
}

.holmes {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 25%;
    margin-right: 25%;
    border: dotted white;
    background-color: #298a00;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.apollo {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0px 0px 10px 0px;
    border: solid white  3px;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    word-spacing: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
}

.terminator{
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
    color: white;
    border-style: solid white 3px;
    border-radius: 0px 0px 10px 0px;
    text-align: right;
    margin-right: 20px;
    font-size: 30px;
    padding: 1%;
}