table, th, td {
    border: 1px solid black;
    margin: 50px;
}

.num1 {
    padding: 50px;
}

.num2 {
  padding: 50px;
}

.num3 {
  padding: 50px;
}

.num4 {
  padding: 50px;
}

.reset {
  padding: 50px;
  text-align: center;
}
