  .onecontainer{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .titleone {
    text-align: center;
    width: 125px;
    border: 1px;
  }

  .firstp{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px; 
  }

  .secondp {
    margin-left: 20%;
    margin-right: 20%;
  }

  .twocontainer{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .titletwo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .threep {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fourtyp {
    padding-left: 10%;
  }

  .dimension {
    width: 400px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: solid black 5px;
  }